<h1 id="{{id}}">{{name}}</h1>
<h2>Ingredients:</h2>
<ul>
    {{#each ingredients}}
        <li>{{{this}}}</li>
    {{/each}}
</ul>
<h2>Instructions:</h2>
<ol>
    {{#each instructions}}
        <li>{{{this}}}</li>
    {{/each}}
</ol>